* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0,0.9);
}
.properties {
    background-color: rgba(48, 48, 48, 1);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 132px;
    border-radius: 12px;
    padding: 28px;
    justify-content: space-around;
}
.messages{
    display: flex;
    flex-direction: column;
    
}
.messages span{
    color: white;
    font-size: 20px;
    
}
.messages span:first-child{
    color: white;
    font-size: 34px;
    
}
.top {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.picture {
    display: flex;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: rgba(242, 153, 74, 0.2);
    justify-content: center;
    align-items: center;
}